{% extends "public/base_public.html" %}
{% load static %}

{% block content %}

<!-- Hero Section -->
<section class="hero-section">
    <img src="{% static 'images/about_us_hero.jpg' %}" alt="Hero Image" class="hero-img">
    <div class="hero-text">
        <h1>Who are We?</h1>
    </div>
</section>




<!-- About Us Content Section -->
<section class="about-us">
    <div class="about-left">
        <div class="card">
            <h3>Our Church</h3>
            <p>The Malankara Mar Thoma Syrian Church, believed to have been founded by Saint Thomas,
                one of the Apostles of Jesus Christ, the saviour of the world and known by the name of the Apostle,
                is part of the ONE HOLY CATHOLIC and APOSTOLIC CHURCH. This Church, in conformity with the faith 
                of the Christian Church in all ages, believes in Jesus Christ, God incarnate for the redemption of mankind,
                and in the TRINITY God revealed by Him, who is Himself in that trinity. <br> <br>
                The Holy Bible consisting of the sixty-six books comprised in the Old and New Testaments, accepted by
                the Mar Thoma Syrian Church as the basis of all matters of doctrine and faith, and the Nicene Creed,
                in accordance with the Holy Scriptures. <br> <br>
                Come visit our worship services on Sunday mornings and take time to get acquainted with our church by learning
                and finding more about our ministries. <br> <br>
                We are happy that you're visiting us online today. Come alongside to inspire, equip and encourage to live out a 
                life that will bring glory to God.</p>
        </div>
    </div>
    <div class="about-right">
        <div class="card">
            <h3><i class="fas fa-heart"></i> Our Values</h3>
            <p>The Church affirms that the people of God are sent all over the world and that they partake in the salvation work of God, 
                to unite everything in Jesus Christ, through the ministry of reconciliation begun in Jesus Christ.</p>
        </div>
        <div class="card">
            <h3><i class="fas fa-bullseye"></i> Our Mission</h3>
            <p>The Church accepts as its mission to be the repository of the Divine doctrines revealed by Jesus Christ and proclaimed by His Apostles;
                to maintain these doctrines in their purity; to promote the spiritual life of its members through the administration
                of sacraments and by the ministry of the WORD; to make disciples of all nations by the proclamation of the Gospel to all the world, 
                and through the administration of the Holy Baptism in the name of the TRINITY God. </p>
        </div>
        <div class="card">
            <h3><i class="fas fa-fire"></i> Our Passion</h3>
            <p>Go therefore, make disciples of all the nations, baptizing them in the name of the Father, 
                and the Son, and of the Holy Spirit, teaching them to observe everything that I have commanded you. (St. Matthew 28:19-20)</p>
        </div>
    </div>
</section>

<!-- Ministries Section -->
<section class="ministries">
    <h1>OUR MINISTRIES</h1>
    <div class="ministry-container">
        <div class="ministry-card">
            <img src="{% static 'images/SS.png' %}" alt="Sunday School" class="ministry-img">
            <h3>SUNDAY SCHOOL</h3>
            <p>Our Sunday School helps children of different age groups to adopt the principles of God.</p>
        </div>
        <div class="ministry-card">
            <img src="{% static 'images/youth.jpg' %}" alt="Yuvajana Sakhyam" class="ministry-img">
            <h3>YUVAJANA SAKHYAM</h3>
            <p>To enable the youth of the Mar Thoma Parish Klang to accept Jesus Christ as their Lord, God, and Savior. 
                To help the youth of the church grow into the totality of Christ.</p>
        </div>
        <div class="ministry-card">
            <img src="{% static 'images/choirs.jpg' %}" alt="Choir" class="ministry-img">
            <h3>Choir</h3>
            <p>Our Choir is a vibrant group dedicated to singing for His glory and actively engaging in the church's worship services.</p>
        </div>
        <div class="ministry-card">
            <img src="{% static 'images/sevikasangham.jpg' %}" alt="Sevika Sangham" class="ministry-img">
            <h3>SEVIKA SANGHAM</h3>
            <p>The Women's Ministry leads women in a growing relationship with Jesus Christ, providing a space to nurture spirituality and utilize their talents for the Kingdom of God.</p>
        </div>
        <div class="ministry-card">
            <img src="{% static 'images/edvakamission.png' %}" alt="Edavaka Mission" class="ministry-img">
            <h3>EDAVAKA MISSION</h3>
            <p>The Edavaka Mission in our Parish is a unit of the Mar Thoma Voluntary Evangelistic Association. Its vision is to inspire every Mar Thomite to be a voluntary evangelist.</p>
        </div>
    </div>
</section>


<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}
